/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 100%;
  grid-gap: 20px;
}

aside {
  display: grid;
  grid-template-rows: 150px auto;
  grid-gap: 50px;
  background-color: #282828;
}

header {
  background-color: #1d5a61;
  align-self: center;
}

header p {
  font-size: 40px;
  text-align: center;
  font-family: 'Pacifico', cursive;
}

header a {
  text-decoration: none;
  color: #fff;
}

header a:hover {
  transition: 0.2s;
  font-size: 36px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

#main_nav {
  background: #762323;
  padding: 30px 0 30px 0;
}

nav ul li {
  background: #762323;
  padding: 8px 10px 8px 40px;
  font-size: 16px;
}

nav ul li:nth-child(odd) {
    background: #762323;
}

nav ul li:hover {
    transition: 0s;
    background: none;
    font-weight: 700;
}

nav p {
  color: #fff;
  padding: 38px 10px 8px 40px;
  font-weight: 700;
  background: #762323;
  margin: 50px 0 0 0;
}

#user_nav {
  background: #762323;
  padding-bottom: 30px;
}

#user_nav li {
  padding: 5px 10px 5px 40px;
  background: none;
  font-size: 14px;
}

#user_nav li:hover {
  font-weight: 700;
  transition: 0s;
}

/* List
------------------------------------------------------------------------------*/

main {
  margin-right: 40px;
  padding: 0 50px 0 50px;
}

article h1 {
  font-size: 32px;
  font-weight: 700;
  color: #1d5a61;
}

section {
  margin-bottom: 50px;
}

section h2 {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 0;
  background: #762323;
  padding: 12px 8px 12px 35px;
}

section hr {
  border: solid 1px #1d5a61;
  margin: 5px 0 5px 0;
}

.mem_list li:hover {
  background: #e0e0e0;
  color: #000;
  user-select: none;
  cursor: default;
}

.mem_list li {
  user-select: none;
  cursor: default;
}

/* Style "odd" list items */
.mem_list li:nth-child(odd):hover {
    background: #c4c4c4;
    color: #000;
}

.mem_list li.checked:hover {
    background: #888;
    color: #fff;
}

/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
}

/* Style the list items */
ul li {
  list-style: none;
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 35px;
  background: #e0e0e0;
  font-size: 14px;
  user-select: none; /* You cannot select the text to e.g copy it (double click text) */
}

/* Style "odd" list items */
ul li:nth-child(odd) {
    background: #c4c4c4;
}

ul li:hover {
    background: #287c86;
    color: #fff;
    transition: 0.3s;
}

/* Style "checked" list items */
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* Add a "checked" symbol when clicked on */
ul li.checked::before {
    content: ''; /* Used to add content (in this case just placeholder for the check mark when added with js)*/
    position: absolute;
    border: solid #fff;
    border-width: 0 2px 2px 0; /* Add border on two sides to create L shape */
    transform: rotate(45deg); /* Rotate the L shape so it gets a V kinda shape */
    top: 11px;
    left: 14px;
    height: 10px; /* Change the check mark size */
    width: 5px; /* Change the check mark size */
}

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #1d5a61;
    color: white;
}

/* Style the input */
input::placeholder {
  color: #4a9199;
}

input {
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px 16px 10px 35px;
  border: solid 1px #1d5a61;
  color: #1d5a61;
  border-radius: 3%;
}

/* Style the "Add" button */
.addBtn {
    cursor: pointer;
    padding: 12px 16px 12px 16px;
    background: #21666e;
    border: none;
    color: #fff;
    border-radius: 5%;
}

.addBtn:hover {
    background-color: #17474d;
    transition: 0.2s;
}
